// fill the browser with our glorious website
body,
html {
  height: 100%;
  width: 100%;
  background-color: $background-color;
  font-family: 'Oswald', serif;
  font-weight: 200;
}

body {
  color: $text-color;
  text-align: center;
}

::-webkit-scrollbar { width: 0px;}
::-webkit-scrollbar-track {  background-color: transparent;}
::-webkit-scrollbar-thumb { height: 50px; background-color: rgba(100, 100, 100, 0.2); border-radius: 0.5px;}


h1 { font-size: 3em; }
h2 { font-size: 2em; }
h3 { font-size: 1em; }
h4 { font-size: 0.67em; }
h5 { font-size: 0.5em; }
h6 { font-size: 0.35em; }

aside {
  position: fixed;
  right: 10px;
  top: 10px;
  bottom: 10px;
}

header {
  text-align: center;
  * {
    display: inline-block;
  }
  h1 {
    padding-right: 10px;
  }

}

svg {
  margin: 0px auto;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  pointer-events: none;

  .land {
    fill: $land-color;
  }

  .ocean {
    fill: $ocean-color;
  }

  text {
    fill: $text-color;
    user-select: none;
  }
}



.edgeObscure {
  fill: $background-color;
}

.westerneurope {
  fill-opacity: 0.7;
  fill: lighten(orange, 20%);
}

.easterneuropeandcentralasia {
  fill-opacity: 0.7;
  fill: lighten(#722f37, 50%);
}

.eastasia {
  fill: #2ca02c;
}

.middleeast {
  fill: #a387be;
}

.latinamerica {
  fill: #cfe272;
}

.africa {
  fill: #ef33a2;
}

.southasia {
  fill: #b98a6f;
}

.oceania {
  fill: lighten(#db4f54, 20%);
}

.canada {
  fill: #bcbd22;
}

.WESTERNEUROPE {
  stroke: #1F77B4;
}

.EASTERNEUROPEANDCENTRALASIA {
  stroke: #FF7F0E;
}

.EASTASIA {
  stroke: #2CA02C;
}

.MIDDLEEAST {
  stroke: #D62728;
}

.LATINAMERICA {
  stroke: #9467BD;
}

.AFRICA {
  stroke: #8C564B;
}

.SOUTHASIA {
  stroke: #E377C2;
}

.OCEANIA {
  stroke: #7F7F7F;
}

.CANADA {
  stroke: #BCBD22;
}

.transparent {
  fill: transparent;
}

.details {

  .destinations {
    position: fixed;
    text-align: left;
    overflow-y: scroll;

    h3 {
      font-size: 2em;
      margin: 0;
    }

    h4 {
      font-size: 1.2em;
      margin-top: 0;
    }

    ul {
      padding-bottom: 40px;
      list-style: none;

      li {
        padding-bottom: 5px;
        border-bottom: 1px solid #ddd;
        margin-left: 3px;

        &:last-child {
          border-bottom: none;
        }
      }
    }
  }

  .controls {
    position: fixed;
    overflow-y: scroll;
    text-align: left;

    span {
      padding: 0 4px;
    }
  }


}

.destination {
  pointer-events: auto;
  fill-opacity: 0.7;

  &.timeline {
    fill-opacity: 0.5;
  }

  &.selected {
    stroke: white;
    stroke-width: 1;
  }

  &.unselected {
    fill-opacity: 0.2;
  }
}

.distanceTicks {
  stroke: $background-color;
  fill: transparent;
  stroke-width: 3;
}
