// fill the browser with our glorious website
body,
html {
  height: 100%;
  width: 100%;
  background-color: $background-color;
  font-family: 'Oswald', serif;
  font-weight: 200;
}

body {
  color: $text-color;
  text-align: center;
}

h1 { font-size: 3em; }
h2 { font-size: 2em; }
h3 { font-size: 1em; }
h4 { font-size: 0.67em; }
h5 { font-size: 0.5em; }
h6 { font-size: 0.35em; }

aside {
  position: fixed;
  right: 10px;
  top: 10px;
  bottom: 10px;
}

header {
  text-align: center;
  * {
    display: inline-block;
  }
  h1 {
    padding-right: 10px;
  }

}

svg {
  margin: 0px auto;

  .land {
    fill: $land-color;
  }

  .ocean {
    fill: $ocean-color;
  }
}

text {
  fill: $text-color;
}

.funding {
  fill: $funding-color;
}

.families {
  fill: $families-color;
}

.edgeObscure {
  fill: $background-color;
}

.westerneurope {
  fill-opacity: 0.7;
  fill: lighten(orange, 20%);
}

.easterneuropeandcentralasia {
  fill-opacity: 0.7;
  fill: lighten(#722f37, 50%);
}

.eastasia {
  fill-opacity: 0.7;
  fill: #2ca02c;
}

.middleeast {
  fill-opacity: 0.7;
  fill: #a387be;
}

.latinamerica {
  fill-opacity: 0.7;
  fill: #cfe272;
}

.africa {
  fill-opacity: 0.7;
  fill: #ef33a2;
}

.southasia {
  fill-opacity: 0.7;
  fill: #b98a6f;
}

.oceania {
  fill-opacity: 0.7;
  fill: lighten(#db4f54, 20%);
}

.canada {
  fill-opacity: 0.7;
  fill: #bcbd22;
}

.WESTERNEUROPE {
  stroke: #1F77B4;
}

.EASTERNEUROPEANDCENTRALASIA {
  stroke: #FF7F0E;
}

.EASTASIA {
  stroke: #2CA02C;
}

.MIDDLEEAST {
  stroke: #D62728;
}

.LATINAMERICA {
  stroke: #9467BD;
}

.AFRICA {
  stroke: #8C564B;
}

.SOUTHASIA {
  stroke: #E377C2;
}

.OCEANIA {
  stroke: #7F7F7F;
}

.CANADA {
  stroke: #BCBD22;
}

.transparent {
  fill: transparent;
}

