#about {
  position: absolute;
  left: 50%;

  #about-bg{
    fill: #999;
    fill-opacity: 1;

    text {

    }
  }
  #about-close {
    position: fixed;
    color: $background-color;
  }
  #about-content {
    position: relative;
    color: black;
    text-align: left;
    overflow-y: scroll;

    a {
      color: $background-color;
    }

    p {
       font-family: Merriweather, serif;
    }
  }
}

.aboutLink {
  pointer-events: auto;
  cursor: pointer;
}