.ocean {
fill: $ocean-color;
}

.westerneurope {
  fill: $westerneurope-color;
  color: $westerneurope-color;

  &.destination{
    stroke: mix($westerneurope-color, white, 50%);
  }
}

.easterneuropeandcentralasia {
  fill: $easterneurope-color;
  color: $easterneurope-color;
  &.destination{
    stroke: mix($easterneurope-color, white, 50%);
  }
}

.eastasia {
  fill: $eastasia-color;
  color: $eastasia-color;
  &.destination{
    stroke: mix($eastasia-color, white, 50%);
  }
  
}

.middleeast {
  fill: $middleeast-color;
  color: $middleeast-color;
  &.destination{
    stroke: mix($middleeast-color, white, 50%);
  }
}

.latinamerica {
  fill: $latinamerica-color; // #cfe272;
  color: $latinamerica-color;
  &.destination{
    stroke: mix($latinamerica-color, white, 50%);
  }
}

.africa {
  fill: $africa-color;
  color: $africa-color;
  &.destination{
    stroke: mix($africa-color, white, 50%);
  }
}

.southasia {
  fill: $southasia-color;
  color: $southasia-color;
  &.destination{
    stroke: mix($southasia-color, white, 50%);
  }
}

.oceania {
  fill: $oceania-color;
  color: $oceania-color;
  &.destination{
    stroke: mix($oceania-color, white, 50%);
  }
}

.canada {
  fill: $canada-color;
  color: $canada-color;
  &.destination{
    stroke: mix($canada-color, white, 50%);
  }
}

.destination {
  pointer-events: auto;
  cursor: pointer;

  &.unselected {
    fill-opacity: 0.4;
  }
}

.dorlingLegend {

  .increment:first-child {
    fill: $latinamerica-color;;
  }

  &:nth-child(2) {
    fill: $eastasia-color;
  }

  &:nth-child(3) {
    fill: $africa-color
  }

  &:nth-child(4) {
    fill: $middleeast-color;
  }
}