.search {
	overflow: hidden;
	position: fixed;
	text-align: left;

	input {
		background: transparent;
		color: white;
		width: 95%;
		padding: 0 5px;
		margin: 0;
		border: 1px lighten($ocean-color, 0%) solid;
	}

	ul {
		li {
			list-style: none;
			margin: 1px 0;

			a {
				text-decoration: none;
			}
		}
	}
}