.terms {
    path {
      fill: $term-color;
      fill-opacity: 1;
      stroke: #666699;
      stroke-width: 0.5;
      pointer-events: auto;
      cursor: default;

      &.selected {
        fill: $selected-term-color;
      }

      &.visited {

      }
    }

    text {
      text-anchor: middle;

      &.selected {
        fill: black;
        fill-opacity: 1;
        font-weight: bold;
      }
    }
}

.years {
  path {
    fill: $background-color;
    fill-opacity: 0;
    stroke: white;
    stroke-width: 0.0;
  }

  text {
    text-anchor: middle;
    fill-opacity: 0.7;
  }
}

.months {
  path {
    fill: $background-color;
    fill-opacity: 0;
    stroke: white;
    stroke-width: 0.0;
  }

  text {
    text-anchor: middle;
    fill-opacity: 0.7;
  }
}

circle.timelineMask {
  fill: transparent;
  stroke: $background-color;
}

rect.timelineMask {
  fill: $background-color;
}