.officelabel {
  pointer-events: auto;
  cursor: pointer;
  fill: transparent;
  
  .selected {
    fill: $selected-term-color;
  }
}

.terms {
    path {
      fill: transparent;
      stroke: #666699;
      stroke-width: 0.5;
      pointer-events: auto;
      cursor: pointer;

      &.visited {
        fill: lighten($term-color, 10%);
      }

      &.selected {
        fill: $selected-term-color;
      }
    }

    text {
      text-anchor: middle;



      &.selected {
        fill: black;
        fill-opacity: 1;
        font-weight: bold;
      }
    }
}

.term-bg {
  fill: $term-color;
}

.years {
  path {
    fill: $background-color;
    fill-opacity: 0;
    stroke: white;
    stroke-width: 0.0;
  }

  text {
    text-anchor: middle;
    fill-opacity: 0.7;
  }
}

.months {
  path {
    fill: $background-color;
    fill-opacity: 0;
    stroke: white;
    stroke-width: 0.0;
  }

  text {
    text-anchor: middle;
    fill-opacity: 0.7;
  }
}

circle.timelineMask {
  fill: transparent;
  stroke: $background-color;
}

rect.timelineMask {
  fill: $background-color;
}

.axisLabelMask {
  fill: $background-color;
  fill-opacity: 0.5;
}

.axisLabel {
  fill: #bbb;
}