.terms {
    path {
      fill: #333355;
      fill-opacity: 1;
      stroke: #666699;
      stroke-width: 0.5;
      pointer-events: auto;
      cursor: default;

      &.selected {
        fill: gold;
      }

      &.visited {

      }
    }

    text {
      font-size: 13px;
      text-anchor: middle;
      fill-opacity: 0.7;

      &.selected {
        fill: black;
        fill-opacity: 1;
        font-weight: bold;
      }
    }
}

.years {
  path {
    fill: $background-color;
    fill-opacity: 0;
    stroke: white;
    stroke-width: 0.0;
  }

  text {
    font-size: 13px;
    text-anchor: middle;
    fill-opacity: 0.7;
  }
}

.months {
  path {
    fill: $background-color;
    fill-opacity: 0;
    stroke: white;
    stroke-width: 0.0;
  }

  text {
    font-size: 13px;
    text-anchor: middle;
    fill-opacity: 0.7;
  }
}